.Todo {
  &-Form {
    display: flex;
    gap: $gap;
  }

  &-Input {
    flex-grow: 1;
    border-radius: 10px;
    background: #1f1f1f;
    border: $border;
    height: 40px;
    color: $light-color;
    padding: 4px 10px;
    font-size: 16px;
    min-width: 100px;
  }
}